<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">LOJA VIRTUAL PUC MINAS</h1><h1>TCC Arquitetura de Sistemas Distribuídos</h1>
      <p>POC Arquitetura - Sistema Controle de Vendas DropShipping</p>
    </div>
  </div>

  <div class="container">
  <div class="row">

    <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="O que deseja comprar..."
    aria-label="Search">
    <a a routerLinkActive="active" routerLink="home" class="btn btn-dark">Pesquisar</a>

  </div>
  </div>
</main>
