<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">LOJA VIRTUAL PUC MINAS</h1><h1>TCC Arquitetura de Sistemas Distribuídos</h1>
      <p>POC Arquitetura - Sistema Controle de Vendas DropShipping</p>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_ip_wi_fi_hd_ic3_intelbras_89873196_b38d_600x600.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="/detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="/detail" class="btn btn-dark btn-buy btn-block btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">IPCAM</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera Intelbras Standard</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_ip_robo_360o_ahd_m_720p_1_3mp_1566689670_1956_600x600.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="/detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="/detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">WIFI</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera HISeeYou 2 antenas</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_de_seguranca_wifi_dome_hikvision_90070491_0001_600x600.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="/detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="/detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">WIFI</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera nikvision 1 antena</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_de_seguranca_vexus_vx_2600_ip_externa_3_antenas_1080p_1566726310_2e4a_600x600.jpeg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="/detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="/detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">IPCAM</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera Vexus 3 antenas</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_speed_dome_vexus_vx_2030_alta_resolucao_hd_1080p_30x_1566726291_b9e8_600x600.jpeg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="/detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="/detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">WIFI</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera Vexus domo Ethernet</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_de_seguranca_cube_pro_wifi_hikvision_90070533_0001_600x600.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="/detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="/detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">WIFI</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera Hikvision Interna</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_ip_bullet_1_0mp_36leds_metal_greatek_89720596_cc40_600x600.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="/detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons">
               
              <a a routerLinkActive="active" routerLink="/detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a>
               
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">IPCAM</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera Greatek 38 leds</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_dome_para_video_porteiro_vtv_89994604_5143_600x600.jpg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a a routerLinkActive="active" routerLink="/detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a a routerLinkActive="active" routerLink="/detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">IPCAM</p>
          <h3 class="h6 text-uppercase mb-1"><a a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera Vtv Domo</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
    <!-- product-->
    <div class="col-xl-4 col-sm-6">
      <div class="product">
        <div class="product-image"><img src="https://cdn.leroymerlin.com.br/products/camera_de_seguranca_vexus_vx_7500_varifocal_full_hd_3_0mp_1566726296_8b0a_600x600.jpeg" alt="product" class="img-fluid">
          <div class="product-hover-overlay"><a href="detail" class="product-hover-overlay-link"></a>
            <div class="product-hover-overlay-buttons"> <a href="detail" class="btn btn-dark btn-buy btn-block"><i class="fa-search fa"></i><span class="btn-buy-label ml-2">Ver Detalhes</span></a> 
            </div>
          </div>
        </div>
        <div class="py-2">
          <p class="text-muted text-sm mb-1">IPCAM</p>
          <h3 class="h6 text-uppercase mb-1"><a routerLinkActive="active" routerLink="/detail" class="text-dark">Camera Vexus profissional 4k</a></h3><span class="text-muted">R$ 100,00</span>
        </div>
      </div>
    </div>
    <!-- /product-->
  </div>
  </div>
</main>
